@using Application.ClientFeatures.Instructor.Request
@model InstructorCreateRequest

@{
    ViewData["Title"] = "Add Instructor - KidKinder Admin";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<style>
    body {
        background: #f8f8f8 !important;
    }

    .image-preview, #callback-preview {
        width: 150px;
        height: 150px;
        background-size: cover;
        border: 2px solid #ddd;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: #eee;
        color: #ecf0f1;
    }

        .image-preview input, #callback-preview input {
            line-height: 200px;
            font-size: 200px;
            position: absolute;
            opacity: 0;
            z-index: 10;
        }

        .image-preview label, #callback-preview label {
            position: absolute;
            z-index: 5;
            opacity: 0.8;
            cursor: pointer;
            background-color: #fff;
            width: 150px;
            height: 50px;
            font-size: 12px;
            line-height: 50px;
            text-transform: uppercase;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            color: #000;
        }
</style>

@* Add Page Navigation Here *@

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Instructor</a></li>
        <li class="breadcrumb-item"><a href="#">Add Instructor</a></li>
    </ol>
</nav>

<div class="container-fluid my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 ">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="card-title text-white font-weight-bolder">
                        Add Instructor
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Add" asp-controller="Instructor" id="formInstructor" enctype="multipart/form-data">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible show fade">
                                <div class="alert-body">
                                    <button class="close" data-dismiss="alert">
                                        <span>×</span>
                                    </button>
                                    @Html.Raw(TempData["Success"])
                                </div>
                            </div>
                        }
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible show fade">
                                <div class="alert-body">
                                    <button class="close" data-dismiss="alert">
                                        <span>×</span>
                                    </button>
                                    @Html.Raw(TempData["Error"])
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="form-group text-center">
                                    <div class="image-preview" id="imagePreview">
                                        <input asp-for="Image" type="file" id="image" name="image" accept="image/*" required>
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                        <label for="image" class="image-label">Choose Image</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullname">Enter Fullname</label>
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                    <input type="text" asp-for="FullName" class="form-control" placeholder="Enter Full Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Username</label>
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                    <input type="text" asp-for="Username" class="form-control" placeholder="Enter Username">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullname">Enter Gender</label>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                    <input type="text" asp-for="Gender" class="form-control" placeholder="Enter Gender">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Qualification</label>
                                    <span asp-validation-for="Qualification" class="text-danger"></span>
                                    <input type="text" asp-for="Qualification" class="form-control" placeholder="Enter Qualification">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullname">Enter Age</label>
                                    <span asp-validation-for="Age" class="text-danger"></span>
                                    <input type="number" asp-for="Age" class="form-control" placeholder="Enter Age">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Date Of Joining</label>
                                    <span asp-validation-for="DateOfJoined" class="text-danger"></span>
                                    <input type="date" asp-for="DateOfJoined" class="form-control" placeholder="Enter Date Of Joining">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Email</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <input type="text" class="form-control" asp-for="Email" placeholder="abc@exmaple.com" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Enter Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Add Instructor</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const imagePreview = document.getElementById('imagePreview');
    const imageLabel = document.querySelector('.image-label');
    const imageInput = document.getElementById('image');

    // If Image is not selected show sweet alert

    $('#formInstructor').submit(function () {
        if (imageInput.value === '') {
            Swal.fire({
                title: 'Error!',
                text: 'Please select an image',
                icon: 'error',
            });
            return false;
        }
    });

    imageInput.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            imageLabel.textContent = file.name;

            reader.onload = function () {
                imagePreview.style.backgroundImage = `url('${this.result}')`;
            }

            reader.readAsDataURL(file);
        }

        if (imageInput.value === '') {
            imageLabel.textContent = 'Choose Image';
            imageLabel.style.color = 'red';
            imageLabel.style.fontWeight = 'bold';
        } else {
            imageLabel.textContent = imageInput.files[0].name;
            imageLabel.style.color = 'green';
        }
    });
</script>